<%= form_for(@order_summary) do |f| %>
  <% if @order_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_summary.errors.count, "error") %> prohibited this order_summary from being saved:</h2>

      <ul>
      <% @order_summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
      <%= f.text_field :invoice, :placeholder => "Invoice Number", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :account_name, :placeholder => "Account Name", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :salesforce_url, :placeholder => "Salesforce URL", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, :placeholder => "End-user Email", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.email_field :reseller, :placeholder => "Accounts Payable / Reseller Email", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Purchase Type" %><br>
      <%= f.select(:purchase_type, options_for_select([['Purchase', 'Purchase'], ['Upgrade', 'Upgrade'], ['Support Purchase', 'Support Purchase'], ['Support Renew', 'Support Renew']]), :class => "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label "Product" %><br>
      <%= f.select(:product, options_for_select([['Remote Control', 'Remote Control'], ['Admin & Diagnostics', 'Admin & Diagnostics'], ['Scope Actions', 'Scope Actions'], ['Suite', 'Suite'], ['Support', 'Support'], ['Upgrade Coverage', 'Upgrade Coverage']]), :class => "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>: <%= f.select(:quantity, options_for_select(Array(0..100)), :class => "form-control") %>
    </div>
    <div class="form-group">
      <%= f.text_field :activation, :placeholder => "Activation Code", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :support_start %>: <%= f.date_select :support_start, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :support_end %>: <%= f.date_select :support_end, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </form>
<% end %>