<h1>List all order summaries</h1>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "created_at", "Date Created" %></th>
      <th><%= sortable "invoice", "Invoice Number" %></th>
      <th><%= sortable "account_name", "Account Name" %></th>
      <th><%= sortable "salesforce_url", "Salesforce URL" %></th>
      <th><%= sortable "email", "End-User Email" %></th>
      <th><%= sortable "purchase_type", "Purchase Type" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_summaries.each do |order_summary| %>
    <tr>
      <td><%= order_summary.created_at %></td>
      <td><%= order_summary.invoice %></td>
      <td><%= order_summary.account_name %></td>
      <td><%= order_summary.salesforce_url %></td>
      <td><%= order_summary.email %></td>
      <td><%= order_summary.purchase_type %></td>
      <td>
        <%= link_to order_summary, :class => "btn btn-xs btn-default" do %>
        	<i class="fa fa-eye fa-fw"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_order_summary_path(order_summary), :class => "btn btn-xs btn-default" do %>
        	<i class="fa fa-pencil fa-fw"></i>
        <% end %>
      </td>
      <td>
        <%= link_to order_summary, :class => "btn btn-xs btn-default", method: :delete, data: { confirm: 'Are you sure?' } do %>
        	<i class="fa fa-trash-o fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<br />
<%= link_to new_order_summary_path, :class => "btn btn-primary" do %>
	<i class="fa fa-plus fa-fw"></i>&nbsp;New Order Summary
<% end %>
<br />