<h1>List all order summaries</h1>
<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>STATUS</th>
      <th>Invoice Number</th>
      <th>Account Name</th>
      <th>Salesforce URL</th>
      <th>End-User Email</th>
      <th>Purchase Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_summaries.each do |order_summary| %>
    <tr>
      <td><%= order_summary.created_at.strftime("%x") %></td>
      <td><%= order_summary.status %></td>
      <td><%= order_summary.invoice %></td>
      <td><%= order_summary.account_name %></td>
      <td><%= order_summary.salesforce_url %></td>
      <td><%= order_summary.email %></td>
      <td><%= order_summary.purchase_type %></td>
      <td>
        <%= link_to order_summary, :class => "btn btn-xs btn-default" do %>
        	<i class="fa fa-eye fa-fw"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_order_summary_path(order_summary), :class => "btn btn-xs btn-default" do %>
        	<i class="fa fa-pencil fa-fw"></i>
        <% end %>
      </td>
      <td>
        <%= link_to order_summary, :class => "btn btn-xs btn-default", method: :delete, data: { confirm: 'Are you sure?' } do %>
        	<i class="fa fa-trash-o fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="row">
  <div class="apple_pagination">
    <%= will_paginate @order_summaries %>
  </div>
</div>
<br />
<%= link_to new_order_summary_path, :class => "btn btn-primary" do %>
	<i class="fa fa-plus fa-fw"></i>&nbsp;New Order Summary
<% end %>
<br />