<%= link_to order_summaries_path, :class => "btn btn-xs btn-default" do %>
	<i class="fa fa-arrow-left fa-fw"></i>&nbsp;Back
<% end %>
<br />
<h1>Order Summary View</h1>
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-warning">
        <div class="panel-heading">
        	<h3 class="panel-title">Status</h3>
        </div>
        <div class="panel-body">
        	<strong><%= @order_summary.status %></strong>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        	Invoice Number
        </div>
        <div class="panel-body">
        	<%= @order_summary.invoice %>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        	Date Created
        </div>
        <div class="panel-body">
        	<%= @order_summary.created_at.strftime("%x") %>
        </div>
    </div>
    
    <div class="panel panel-default">
    	<div class="panel-heading">
        	Purchase Type
        </div>
        <div class="panel-body">
        	<%= @order_summary.purchase_type %>
        </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
        	<h3 class="panel-title">Account Name</h3>
        </div>
        <div class="panel-body">
        	<%= @order_summary.account_name %>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        	Salesforce URL
        </div>
        <div class="panel-body">
        	<%= @order_summary.salesforce_url %>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        	End-User Email
        </div>
        <div class="panel-body">
        	<%= @order_summary.email %>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        	Accounts Payable / Reseller Email
        </div>
        <div class="panel-body">
        	<%= @order_summary.reseller %>
        </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-success">
        <div class="panel-heading">
        	<h3 class="panel-title">Product</h3>
        </div>
        <div class="panel-body">
        	<%= @order_summary.quantity %>&nbsp;<%= @order_summary.product %>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        	Activation
        </div>
        <div class="panel-body">
        	<%= @order_summary.activation %>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        	Support / UPG Term
        </div>
        <div class="panel-body">
        	<%= @order_summary.support_start.strftime("%v") %> - <%= @order_summary.support_end.strftime("%v") %>
        </div>
    </div>
  </div>
</div>
<br />
<h3>Email Preview</h3>
<div class="panel panel-info marginTop25" style="width: 740px;">
  <div class="panel-heading">
    <p class="panel-title">The below content is for review purposes only and is not directly editable. Please make any edits using the <strong>Edit button</strong> in the above display.</p>
  </div>
  <div class="panel-body">
    <table cellpadding="15" cellspacing="0"  style="width: 720px">
    <tr>
    <td style="width: 740px">
    <div>
    <img alt="Goverlan- Order Summary" src="http://assets.goverlan.com/email_templates/header_goverlan_ordersummary.png" longdesc="Goverlan- Order Summary" />
    </div>
    <span>
    <br />
    <br />
    <table style="width: 100%" cellspacing="9">
    <tr><td>&nbsp;</td></tr>
    <tr>
    <td style="height: 32px"><p>To: <%= @order_summary.account_name %></p></td>
    <td style="height: 32px"><p>Transaction ID: <strong><%= @order_summary.invoice %></strong></p>
    </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
    <td colspan="2">
    <p>Thank you for your Goverlan order. Your order details are shown below. Please keep this information for your records.</p>
    </td>
    </tr>
    </table>
    <br />
    <table align="center" bgcolor="#f5f5f5" cellpadding="10" cellspacing="0" style="width: 100%>
    <tr align="center>
    <td align="center" colspan="2" ><span> Purchased: <b><%= @order_summary.quantity %> <%= @order_summary.product %></b> Licenses</span> <br />
      <span ><b>Activation Code: <%= @order_summary.activation  %></b></span> <br />
      <br />
      <span>Support & Upgrade Coverage on all licenses: <%= @order_summary.support_start %> to <%= @order_summary.support_end %></span> <br />
      <br />
      <span>FREE Add-on Modules: <a href="http://www.goverlan.com/pdf/Goverlan-Central-Server-Overview.pdf">Goverlan Central Server</a> and <a href="http://www.goverlan.com/product_overview.php#wmix-module">WMIX</a></span></td>
    </tr>
    </table>
    <br />
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 720px">
    <tr>
    <td align="center"><span>To download the latest 
    version of Goverlan,
    <a href="http://www.goverlan.com/download_area.php">click here.</a></span></td>
    </tr>
    <tr>
    <td align="center"><span>To contact us, 
    call (888) 330 4188 / +1 (786) 268 3517 [int'l] or
    <a href="mailto:sales@goverlan.com">email</a> us.</span></td>
    </tr>
    </table>
    <br />
    <br />
    <table align="center" cellpadding="4" style="width: 696px; height: 14px;" cellspacing="6">
    <tr>
    <td  style="height: 31px"> <p>GOVERLAN SUPPORT & UPGRADE COVERAGE</p> </td>
    </tr>
    <tr>
    <td bgcolor="" style="height: 54px"><p>If Support and/or Upgrade coverage is not purchased, fees apply for version upgrades and support is offered at per incident rates: $40 USD by email, $80 USD by phone or live chat. Clients always have access to the Knowledge Base, Goverlan forum or User Guides for technical support. More details at <a href="http://www.goverlan.com/maintenance.php">Support / Upgrade Coverage</a>.</p></td>
    </tr>
    </table>
    <br />
    <table cellpadding="4" cellspacing="10" style="width: 100%">
    <tr>
    <td style="width: 50%; height: 34px;"> <p>
    <span>Activations & Transfers</span></p> </td>
    <td  style="width: 50%; height: 34px;"> <p>Support & Updates</p></td>
    </tr>
    <tr>
    <td class="auto-style41" style="width: 50%">
    <p><span>For instructions, see
    <a href="http://www.goverlan.com/activation.php?page=software_activation">Activation</a>. Once 
    activated, you can
    <a href="http://www.goverlan.com/activation?page=activation_transfer">
    transfer</a> the activation to another machine. If your machine is 
    reimaged without having done the transfer, please contact
    <a href="mailto:sales@goverlan.com">Sales</a> so that we can adjust your 
    activation count.</span></p>
    </td>
    <td style="width: 50%">
    <p><span>For technical assistance, go to our support page at  <a href="http://www.goverlan.com/support.php">goverlan.com/support</a>. For product updates, from the COMMAND tab, go to HELP > ONLINE ACCESS > CHECK FOR UPDATES.<br /><br /></span></p>
    </td>
    </tr>
    </table>
    <br />
    <table align="center" cellpadding="4" style="width: 696px; height: 14px;" cellspacing="6">
    <tr>
    <td style="height: 31px"> <p>QUICK TIPS & RESOURCES</p> </td>
    </tr>
    <tr>
    <td bgcolor="" style="height: 54px">
    <ul>
    <li>
    <span><a href="http://www.goverlan.com/userguides/?guide=76">Getting Started Guide</a><br /></span>
    </li>
    <li>
    <span><a href="https://www.youtube.com/user/Goverlan">YouTube Tutorials</a></span>
    </li>
    <li>
    <span><a href="http://www.goverlan.com/it_admin_blog.php">IT Admin Blog</a> for time-saving, unique features, tutorials, and competitor product studies<br /></span>
    </li>
    <li>
    <span>How some clients use Goverlan(see <a href="http://www.goverlan.com/case_studies.php">Case Studies</a>)<br /></span>
    <br />
    </li>
    </ul>
    </td>
    </tr>
    </table>
    <br />
    <table align="center" border="0" cellpadding="7" cellspacing="0">
    <tr>
    <td>
    <p>This message is intended exclusively for its addressee and may contain information that is confidential and protected by professional privilege. If you are not the intended recipient you are hereby notified that any dissemination, copy or disclosure of this communication is strictly prohibited by law. If this message has been received in error, please immediately notify us via e-mail and delete it.<br/><br/>2015 Copyright  Goverlan, Inc.  All rights are reserved.    </p>
    </td>
    </tr>
    </table>
    </span>
    </td>
    </tr>
    </table>
  </div>
</div>


