<!DOCTYPE html>
<html>
<head>
  <title>Goverlan Order Summaries</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <script src="https://cdn.auth0.com/js/lock-7.0.min.js"></script>
  <script type="text/javascript">
    var lock = new Auth0Lock('xgSKjO7S71kO9OBXBYRtzbjBDJP1aB1n', 'app34086970.auth0.com');
    
    function signin() {
      lock.show({
          callbackURL: 'http://goverlan-order-summaries.herokuapp.com/auth/auth0/callback'
        , responseType: 'code'
        , authParams: {
          scope: 'openid profile'
        }
      });
    }
  </script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img id="goverlan-grey" class="navbar-brand" src="http://www.goverlan.com/img/index/goverlan-grey.png" width="200" height="26" alt="Goverlan" />
      </div>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to root_path do %>
              &nbsp;<i class="fa fa-home fa-fw"></i>&nbsp;ALL ORDERS
            <% end %>
            <span class="sr-only">(current)</span>
          </li>
          <li>
            <%= link_to new_order_summary_path do %>
              &nbsp;<i class="fa fa-plus fa-fw"></i>&nbsp;NEW
            <% end %>
          </li>
          <li>
            <button onclick="signin()">Login</button>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <%= form_tag(order_summaries_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search", :class => "form-control" %>
            <% end %>
            <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
          </div>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-dismissible alert-<%= key %>"><%= value %>
      <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
  <% end %>

  <%= yield %>
  
  </div>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
